<!DOCTYPE html>
<html class="no-js" id="node-html" lang="en">
<head>
    <meta charset="utf-8">
    <title>{{options.title}}</title>

    <meta name="description" content="">
    <meta name="generator" content="kss-node">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="kss-assets/kss.css">
    <link rel="stylesheet" href="//burnsy.github.io/LincolnHack/css/style.css">

    {{{styles}}}
</head>
<body id="kss-node">
<header class="kss-header">
    <div class="kss-wrapper row">
        <div class="kss-doc-title col">
            <a class="kss-header-title-link" href="./">
            {{options.title}} - Style Library
            </a>
        </div>
        <nav class="kss-header-navbar col">
            <ul class="kss-navbar">
                <li class="kss-navbar__item">
                    <a class="kss-navbar__item-link" href="./">Read Me</a>
                </li>
                <li class="kss-navbar__item">
                    <a class="kss-navbar__item-link" href="{{options.localURL}}">Local Url</a>
                </li>
                <li class="kss-navbar__item">
                    <a class="kss-navbar__item-link" href="{{options.liveURL}}">Live Url</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="kss-wrapper kss-wrapper-gridpak">
    <div class="row">
        <nav class="kss-nav col">
            <ul class="kss-nav__menu">
                {{#each menu}}
                    <li class="kss-nav__menu-item">
                        <a class="kss-nav__menu-link" href="section-{{referenceURI}}.html">
                            <span class="kss-nav__name">{{header}}</span>
                        </a>
                            {{#if children}}
                                <ul class="kss-nav__menu-child">
                                    {{#each children}}
                                        <li class="kss-nav__menu-child-item">
                                            <a class="kss-nav__menu-link" href="section-{{../referenceURI}}.html#kssref-{{referenceURI}}">
                                                <span class="kss-nav__name">{{header}}</span>
                                            </a>
                                        </li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                    </li>
                {{/each}}
            </ul>
        </nav>
        <div class="kss-main col">
            <article role="main">
                {{#if homepage}}
                    <div id="kssref-0" class="kss-section kss-section--depth-0 kss-overview kss-style">
                        {{{homepage}}}
                    </div>
                {{else}}
                {{!
                  Display each section, in order.

                  The "root" element comes first in this loop, and can be detected using
                  the "#if @first" block as seen below.
                }}
                    {{#each sections}}
                        <{{#if @first}}div{{else}}section{{/if}} id="kssref-{{referenceURI}}" class="kss-section kss-section--depth-{{depth}}">
                            <div class="kss-style">
                                <h{{depth}} class="kss-title kss-title--level-{{depth}}">
                                        {{header}}
                                </h{{depth}}>
                                {{#if description}}
                                    <div class="kss-description">
                                        {{{description}}}
                                    </div>
                                {{/if}}
                                {{#if parameters}}
                                    <ul class="kss-parameters">
                                        {{#each parameters}}
                                            <li class="kss-parameters__item">
                                                <p class="kss-parameters__description">
                                                    {{{description}}}

                                                    {{#if defaultValue}}
                                                        Defaults to: <code>{{defaultValue}}</code>
                                                    {{/if}}
                                                </p>
                                                <code class="kss-parameters__name">{{name}}</code>
                                            </li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </div>
                            {{#if example}}
                                {{#if modifiers}}
                                <ul class="kss-modifier_list">
                                    {{#each modifiers}}
                                        <li class="kss-modifier__list-name kss-style">
                                            <span class="kss-modifier__list-name-modifier">{{name}}</span> - {{{description}}}
                                        </li>
                                    {{/each}}
                                </ul>
                                {{/if}}
                                <div class="kss-modifier__wrapper">
                                    <div class="kss-modifier__example">
                                        {{{example}}}
                                    </div>

                                    {{#each modifiers}}
                                        <div class="kss-modifier__example">
                                        <span class="kss-modifier__name kss-style">{{name}}</span>
                                            {{{markup}}}
                                        </div>
                                    {{/each}}
                                </div>
                                {{#if example}}
                                    <div class="kss-markup kss-style">
                            <pre class="prettyprint linenums lang-html"><code
                                    data-language="html">{{markup}}</code></pre>
                                    </div>
                                {{/if}}
                            {{/if}}
                        </{{#if @first}}div{{else}}section{{/if}}>
                    {{/each}}
                {{/if}}
            </article>
        </div>
    </div>
</div>
<footer class="kss-footer">
    <div class="kss-wrapper row">
        <div class="kss-footer-info col">
            <div class="kss-footer-coppyright">Nest builder made by  <a class="kss-footer-menu__item-link" href="//www.burnsy.me">Chris Burns</a></div>
            <div class="kss-footer-infomation">Built with <a class="kss-footer-menu__item-link" href="https://github.com/kss-node/kss-node">KSS-Node</a></div>
        </div>
    </div>
</footer>


<!-- SCRIPTS -->
<script src="kss-assets/js/jquery.min.js"></script>
<script src="kss-assets/kss.js"></script>
<script src="kss-assets/js/prettify.js"></script>

<script src="//burnsy.github.io/LincolnHack/js/leaflet.js"></script>
<script src="//burnsy.github.io/LincolnHack/js/map.js"></script>
<!--<script src="kss-assets/vendor/js/gridpak.js"></script>-->
<script>
    prettyPrint();
</script>
{{{scripts}}}
</body>
</html>